<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= posts.subject %></title>
      <link rel="stylesheet" href="/css/style.css" />

  </head>
  <body>
    <a href="/posts">Home</a><br>
<%= console.log(comments)%>
  <div class="post">
    <img src="<%= posts.img_url %>" alt="a picture">
    <h1>Subject: <%= posts.subject %></h1>
    <p>Content: <%= posts.p_content %></p>
    <p>Likes: <%= posts.p_likes %>, Comments: <%= posts.num_comments %></p>
    <p></p>
  </div>
      <form action="/posts/<%= posts.id %>/like?_method=PUT&show=true" method = "POST">
        <input type="submit"value="Like">
      </form>
      <form class="" action="/posts/<%= posts.id %>/edit" method="GET">
        <input type="submit" name="" value="Edit">
      </form>




    <form id="add-comment" action="/posts/<%= posts.id %>/" method="POST">
      <textarea form="add-comment" name="comments[c_content]" rows="8" cols="50"></textarea><br>
      <input type="hidden" name=comments[c_likes] value="0">
      <input type="hidden" name=comments[post_id] value="<%= posts.id %>">
      <input type="submit" value="Add Comment">
    </form>


    <% comments.forEach( (comments) => { %>
    <div class="comments">
    <p><%= comments.c_content %></p>
    <p>Likes: <%= comments.c_likes %></p>
    <form action="/posts/<%= comments.post_id %>/<%= comments.id %>/clike?_method=PUT&show=true" method = "POST">
      <input type="submit"value="Like">
    </form>
    </div>
    <% }) %>



  </body>
</html>
